In [1]:
#インポート
from bs4 import BeautifulSoup as bs
import re
import time
import os
import sys
import json
import pandas as pd
import numpy as np
import pickle
import unicodedata
import openai
from openai import AzureOpenAI
from dotenv import load_dotenv
load_dotenv()
api_version="2023-12-01-preview"
engine = 'gpt-4o-mini'
client = AzureOpenAI(
    api_key=os.getenv("OPENAI_API_KEY_GPT4OMINI"),  
    api_version=api_version,
    azure_endpoint = os.getenv("OPENAI_API_BASE_GPT4OMINI")
    )
data = pd.read_csv("../data.csv")

In [71]:
class GPT4o_mini():
    def __init__(self, query, table_id, path):
        self.query = query
        self.table_id = table_id
        self.path = path

    def edit_query(self):
        year = re.search('20(\d)+', self.query).group()
        if year == '2023':
            return re.sub(f'{year}年', f'最新', self.query)
        elif year == '2022':
            return re.sub(f'{year}年', f'前期', self.query)
        elif year == '2021':
            return re.sub(f'{year}年', f'前々期', self.query)
        elif year == '2020':
            return re.sub(f'{year}年', f'3期前', self.query)
        elif year == '2019':
            return re.sub(f'{year}年', f'4期前', self.query)

    #html内のtableデータを抽出してDataFrameに変換
    def get_cellid(self,):
        doc_id = self.table_id.split("-")[0]
        file = self.table_id.split("-")[1]
        
        with open(f'{self.path}/{doc_id}/{file}.html', 'r') as f:
            soup = bs(f, 'html.parser')
            f.close()
        
        html_tag = soup.find_all(['table',])
        for _, table in enumerate(html_tag):
            if table.get('table-id') == self.table_id:
                break

        max_row =0
        for row in table.find_all('tr'):
            tmp_row = 0
            for cell in row.find_all(['td', 'th']):
                tmp_row += 1
                if cell.get('colspan'):
                    tmp_row += int(cell.get('colspan'))-1
            if tmp_row > max_row:
                max_row = tmp_row

        df = pd.DataFrame([['?']*max_row])
        row_index = 0
        for row in table.find_all('tr'):
            col_index = 0
            for cell in row.find_all(['td', 'th']):
                try:
                    while df.iloc[row_index, col_index] != '?':
                        col_index += 1
                except:
                    df = pd.concat([df, pd.DataFrame([['?']*len(df.columns)])])
                    
                cell_text = unicodedata.normalize('NFKC', cell.get('cell-id')).replace('\n', '').replace(' ', '')
                cell_text = cell_text.replace("△", "-")   
                if cell.get('rowspan'):
                    rowspan = int(cell.get('rowspan'))
                    df = pd.concat([df, pd.DataFrame([['?']*len(df.columns)]*(rowspan))])
                    df.iloc[row_index:row_index+rowspan, col_index] = cell_text
                elif cell.get('colspan'):
                    colspan = int(cell.get('colspan'))                
                    df.iloc[row_index, col_index:col_index+colspan] = cell_text
                    col_index += colspan-1
                
                else:   
                    df.iloc[row_index, col_index] = cell_text
                col_index += 1
            row_index += 1

        df = df.drop_duplicates()
        df = df.T.drop_duplicates().T
        df.columns = range(len(df.columns))
        df.index = range(len(df))
        return df

    
    #html内のtableデータを抽出してDataFrameに変換
    def html_to_table(self):
        doc_id = self.table_id.split("-")[0]
        file = self.table_id.split("-")[1]
        
        with open(f'{self.path}/{doc_id}/{file}.html', 'r') as f:
            soup = bs(f, 'html.parser')
            f.close()
        dfs = pd.read_html(f'{self.path}/{doc_id}/{file}.html')
        tags = soup.find_all(['table',])
        i = 0
        for tag in tags:
            if tag.get('table-id') == self.table_id:
                break
            else:
                i += 1

        df_ids = self.get_cellid()
        df_ids.loc[0:1] = dfs[i].loc[0:1]
        df_ids[[0, 1]] = dfs[i][[0, 1]]
        return dfs[i], df_ids

    #ChatGPTに質問を投げて、表から回答を抽出する
    def rewrite_query(self, ):
        prompt =f"次の手順に従て与えられた質問文を書き換えてください。\n1.アルファベット部分を日本語に変換してください\n2.必要な情報のみを抽出して質問文を簡略化してください。 \n##Question\n{self.edit_query()}"
        messages=[
            {'role':'system', "content": 'あなたは表からデータを抽出するタスクを任されています。'},
            {"role": "user", "content": prompt}, 
            ]
        
        response = client.chat.completions.create(
            model= engine,
            messages = messages,
            temperature=0,
            max_tokens=2048,
            top_p=0.1,
            frequency_penalty=0,
            presence_penalty=0,
            stop=None
        )
        return response.choices[0].message.content


    #ChatGPTに質問を投げて、表から回答を抽出する
    def answer(self, ):
        table_md = self.html_to_table()[0].to_markdown(index=False)
        display(self.html_to_table()[0])
        rewrite_query = self.rewrite_query()
        print(rewrite_query)
        prompt =f"""
        表から質問の回答を抽出してください。抽出できない場合-を出力してください。
        #TABLE
        {table_md}
        #Question
        {rewrite_query}"""

        messages=[
            {"role": "user", "content": prompt}, 
            ]
        tools = [
                {
                    "type":"function",
                    "strict":"true",
                    "function": {
                        "name": "table_answer_extractor",
                        "discription": "Extract answer from table",
                        "parameters":{
                            "type": "object",
                            "properties": {
                                "value": {
                                    "type": "string",
                                    "description": "Value of the cell"
                                    },
                                "unit": {
                                    "type": "string",
                                    "description": "Unit of the cell"
                                    },
                                },
                            "required":['question', "value", "unit"]
                            },
                        }
                }
            ] 
        
        response = client.chat.completions.create(
            model= engine,
            messages = messages,
            tools = tools,
            temperature=0,
            max_tokens=2048,
            top_p=0.1,
            frequency_penalty=0,
            presence_penalty=0,
            stop=None
        )
        response_message = response.choices[0].message

    # Handle function calls
        if response_message.tool_calls:
            for tool_call in response_message.tool_calls:
                function_args = json.loads(tool_call.function.arguments)
        return function_args

In [72]:
def normalize(dct):
    value = unicodedata.normalize('NFKC', dct['value']).replace('△', '-')
    unit = unicodedata.normalize('NFKC', dct['unit'])

    if value =='-':
        return value
    elif '百万' in unit:
        return value.replace(',', '').replace(' ', '')+'000000'
    elif '%' in unit:
        return str(float(value.replace(' ', ''))/100)
    elif '千' in unit:
        return value.replace(',', '').replace(' ', '')+'000'
    else:
        return value.replace(',', '')

In [73]:
data.query('question_number == "question_valid63"')

,question_number,question,doc_id,table_id,cell_id,value,flag,ja_question,tmp_question,words
12911,question_valid63,テクノプロ・ホールディングス株式会社の2020年時点のNonConsolidatedMemb...,S100RXK0,S100RXK0-0101010-tab3,S100RXK0-0101010-tab3-r20c4,179,valid,テクノプロ・ホールディングス株式会社の2020年時点の非連結又は個別における従業員数は?,2020年時点の非連結又は個別における従業員数は?,"['従業員数', 'NonConsolidatedMember']"

In [74]:
path = '../valid/reports'
table_id, query, value, cell_id = data.query('question_number == "question_valid90"')[['table_id', 'tmp_question', 'value', 'cell_id']].values[0]
print(table_id ,query)
print(value)
print(cell_id)
#df, df_id = GPT4o_mini(query, table_id, path).answer()
#display(df_id)
df = GPT4o_mini(query, table_id, path).answer()
display(df)

S100RXK0-0105010-tab71 2023年における当期利益(△損失)の親会社の所有者は?
15365000000
S100RXK0-0105010-tab71-r17c4

,0,1,2,3
0,NaN,NaN,NaN,（単位：百万円）
1,NaN,注記,前連結会計年度 (自 2021年７月１日 至 2022年６月30日),当連結会計年度 (自 2022年７月１日 至 2023年６月30日)
2,売上収益,５、24,178756,199851
3,売上原価,25,131897,146948
4,売上総利益,NaN,46858,52903
5,販売費及び一般管理費,26,27819,31523
6,その他の収益,29,2387,582
7,その他の費用,29,784,124
8,営業利益,NaN,20641,21838
9,金融収益,28,460,196
10,金融費用,28,134,197
11,税引前当期利益,NaN,20967,21837
12,法人所得税費用,11,5307,6276
13,当期利益,NaN,15659,15560
14,NaN,NaN,NaN,NaN
15,当期利益の帰属,NaN,NaN,NaN
16,親会社の所有者,NaN,15430,15365
17,非支配持分,NaN,228,194
18,合計,NaN,15659,15560

##質問
最新の当期利益(△損失)の親会社の所有者は誰ですか？

{'value': '15365', 'unit': '百万円'}

In [ ]:
path = '../valid/reports'
table_id, query, value = data.query('flag == "valid"')[['table_id', 'tmp_question', 'value']].values[10]
print(table_id ,query)
print(value)
GPT4o_mini(query, table_id, path).answer()

In [291]:
from tqdm import tqdm
path = '../valid/reports'
answer_sheet = {}
for index, row in data.query('flag =="valid"')[:20].iterrows():
    table_id, query, value = row[['table_id', 'tmp_question', 'value']]
    answer = GPT4o_mini(query, table_id, path).answer()
    print(row['question_number'], value)
    answer_sheet[row['question_number']] = normalize(answer)

,0,1,2,3,4,5,6
0,回次,回次,第172期,第173期,第174期,第175期,第176期
1,決算年月,決算年月,2020年３月,2021年３月,2022年３月,2023年３月,2024年３月
2,売上高,(百万円),672314,643736,670350,806453,799760
3,経常利益,(百万円),1312,18380,34089,67897,69733
4,親会社株主に帰属する 当期純利益又は親会社株主に帰属する当期純損失（△）,(百万円),"△ 38,510","△ 5,369",39101,40891,51011
5,包括利益,(百万円),"△ 54,950",9948,59274,58944,84725
6,純資産額,(百万円),172115,184483,243657,294384,366582
7,総資産額,(百万円),576090,569124,611526,656785,723867
8,１株当たり純資産額,(円),552.30,591.24,799.76,980.91,1236.73
9,１株当たり当期純利益 又は当期純損失（△）,(円),△ 136.58,△ 19.50,141.85,148.27,184.96
10,潜在株式調整後１株 当たり当期純利益,(円),－,－,－,－,－
11,自己資本比率,(％),26.40,28.61,36.06,41.19,47.12
12,自己資本利益率,(％),△ 20.89,△ 3.41,20.40,16.66,16.68
13,株価収益率,(倍),－,－,4.41,6.33,12.32
14,営業活動による キャッシュ・フロー,(百万円),46416,62587,40388,58140,94442
15,投資活動による キャッシュ・フロー,(百万円),"△ 39,438","△ 7,149",7840,"△ 9,733","△ 21,488"
16,財務活動による キャッシュ・フロー,(百万円),1724,"△ 26,532","△ 36,917","△ 33,919","△ 36,035"
17,現金及び現金同等物の 期末残高,(百万円),43961,74164,90428,106560,147003
18,従業員数,(人),55936,53717,52434,54762,50254
19,NaN,NaN,"( 14,478 )","( 15,163 )","( 8,936 )","( 7,776 )","( 6,560 )"

##質問
前々期の自己資本利益率は?
question_valid1 0.2040

,0,1,2,3,4,5,6
0,回次,回次,第172期,第173期,第174期,第175期,第176期
1,決算年月,決算年月,2020年３月,2021年３月,2022年３月,2023年３月,2024年３月
2,売上高,(百万円),672314,643736,670350,806453,799760
3,経常利益,(百万円),1312,18380,34089,67897,69733
4,親会社株主に帰属する 当期純利益又は親会社株主に帰属する当期純損失（△）,(百万円),"△ 38,510","△ 5,369",39101,40891,51011
5,包括利益,(百万円),"△ 54,950",9948,59274,58944,84725
6,純資産額,(百万円),172115,184483,243657,294384,366582
7,総資産額,(百万円),576090,569124,611526,656785,723867
8,１株当たり純資産額,(円),552.30,591.24,799.76,980.91,1236.73
9,１株当たり当期純利益 又は当期純損失（△）,(円),△ 136.58,△ 19.50,141.85,148.27,184.96
10,潜在株式調整後１株 当たり当期純利益,(円),－,－,－,－,－
11,自己資本比率,(％),26.40,28.61,36.06,41.19,47.12
12,自己資本利益率,(％),△ 20.89,△ 3.41,20.40,16.66,16.68
13,株価収益率,(倍),－,－,4.41,6.33,12.32
14,営業活動による キャッシュ・フロー,(百万円),46416,62587,40388,58140,94442
15,投資活動による キャッシュ・フロー,(百万円),"△ 39,438","△ 7,149",7840,"△ 9,733","△ 21,488"
16,財務活動による キャッシュ・フロー,(百万円),1724,"△ 26,532","△ 36,917","△ 33,919","△ 36,035"
17,現金及び現金同等物の 期末残高,(百万円),43961,74164,90428,106560,147003
18,従業員数,(人),55936,53717,52434,54762,50254
19,NaN,NaN,"( 14,478 )","( 15,163 )","( 8,936 )","( 7,776 )","( 6,560 )"

最新の自己資本利益率は?
question_valid2 0.1668

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024年３月31日現在,2024年３月31日現在,2024年３月31日現在
1,区分,株式の状況（１単元の株式数 100 株）,株式の状況（１単元の株式数 100 株）,株式の状況（１単元の株式数 100 株）,株式の状況（１単元の株式数 100 株）,株式の状況（１単元の株式数 100 株）,株式の状況（１単元の株式数 100 株）,株式の状況（１単元の株式数 100 株）,株式の状況（１単元の株式数 100 株）,単元未満株式の状況 （株）
2,区分,政府及び地方公共団体,金融機関,金融商品取引業者,その他の法人,外国法人等,外国法人等,個人その他,計,単元未満株式の状況 （株）
3,区分,政府及び地方公共団体,金融機関,金融商品取引業者,その他の法人,個人以外,個人,個人その他,計,単元未満株式の状況 （株）
4,株主数（人）,－,48,40,252,368,64,25141,25913,－
5,所有株式数 （単元）,－,1334761,122521,145408,763136,695,590510,2957031,160321
6,所有株式数の割合（％）,－,45.14,4.14,4.92,25.81,0.02,19.97,100,－

最新時点の普通株式における所有株式数の割合(%) - 金融商品取引業者は？
question_valid4 0.0414

,0,1,2,3
0,NaN,NaN,2024年３月31日現在,2024年３月31日現在
1,氏名又は名称,住所,所有株式数 （千株）,発行済株式（自己株式を除く。）の総数に対する所有株式数の割合（％）
2,日本マスタートラスト信託銀行株式会社（信託口）,東京都港区赤坂一丁目８番１号,56326,20.38
3,株式会社日本カストディ銀行（信託口）,東京都中央区晴海一丁目８番12号,31209,11.29
4,大樹生命保険株式会社,東京都千代田区大手町二丁目１番１号,10192,3.69
5,株式会社三井住友銀行,東京都千代田区丸の内一丁目１番２号,8456,3.06
6,株式会社日本カストディ銀行（三井住友信託銀行退職給付信託口）,東京都中央区晴海一丁目８番12号,6777,2.45
7,STATE STREET BANK AND TRUST COMPANY 505223 (常...,P.O.BOX 351 BOSTON MASSACHUSETTS 02101 U.S.A. ...,5845,2.11
8,株式会社静岡銀行,静岡県静岡市葵区呉服町一丁目10番地,5789,2.09
9,SSBTC CLIENT OMNIBUS ACCOUNT (常任代理人 香港上海銀行),"ONE CONGRESS STREET, SUITE 1,BOSTON, MASSACHUS...",4737,1.71
10,JP MORGAN CHASE BANK 385781 (常任代理人 株式会社みずほ銀行),"25 BANK STREET, CANARY WHARF, LONDON, E14 5JP,...",3674,1.33
11,フジクラ従業員持株会,東京都江東区木場一丁目５番１号,3218,1.16
12,計,－,136222,49.28

##質問
最新時点の第5位大株主の氏名または名称は？
question_valid6 株式会社日本カストディ銀行（三井住友信託銀行退職給付信託口）

                0       1          2         3                          4
0             NaN     NaN        NaN       NaN               2024年３月31日現在
1              区分  株式数（株）     株式数（株）  議決権の数（個）                         内容
2          無議決権株式     NaN          －         －                          －
3  議決権制限株式（自己株式等）     NaN          －         －                          －
4    議決権制限株式（その他）     NaN          －         －                          －
5  完全議決権株式（自己株式等）    普通株式   19459600         －  権利内容に何ら限定のない当社における標準となる株式
6    完全議決権株式（その他）    普通株式  276243500   2762435                         同上
7          単元未満株式    普通株式     160321         －                          －
8         発行済株式総数     NaN  295863421         －                          －
9         総株主の議決権     NaN          －   2762435                          －

##質問
最新の議決権制限株式（その他）の発行済株式の議決権の状況は？
question_valid9 －

                0       1          2         3                          4
0             NaN     NaN        NaN       NaN               2024年３月31日現在
1              区分  株式数（株）     株式数（株）  議決権の数（個）                         内容
2          無議決権株式     NaN          －         －                          －
3  議決権制限株式（自己株式等）     NaN          －         －                          －
4    議決権制限株式（その他）     NaN          －         －                          －
5  完全議決権株式（自己株式等）    普通株式   19459600         －  権利内容に何ら限定のない当社における標準となる株式
6    完全議決権株式（その他）    普通株式  276243500   2762435                         同上
7          単元未満株式    普通株式     160321         －                          －
8         発行済株式総数     NaN  295863421         －                          －
9         総株主の議決権     NaN          －   2762435                          －

##質問
最新の単元未満株式の議決権と発行済株式の内容は？
question_valid10 －

,0,1,2,3,4
0,区分,前連結会計年度,前連結会計年度,当連結会計年度,当連結会計年度
1,区分,監査証明業務に基づく報酬（百万円）,非監査業務に基づく 報酬（百万円）,監査証明業務に基づく報酬（百万円）,非監査業務に基づく 報酬（百万円）
2,提出会社,125,－,124,－
3,連結子会社,54,－,67,1
4,計,178,－,190,1

##質問
前期の監査証明業務に基づく報酬は、提出会社はどこですか？
question_valid11 125000000

,0,1,2,3,4
0,区分,前連結会計年度,前連結会計年度,当連結会計年度,当連結会計年度
1,区分,監査証明業務に基づく報酬（百万円）,非監査業務に基づく 報酬（百万円）,監査証明業務に基づく報酬（百万円）,非監査業務に基づく 報酬（百万円）
2,提出会社,125,－,124,－
3,連結子会社,54,－,67,1
4,計,178,－,190,1

##質問
最新の監査公認会計士の報酬は?
question_valid14 190000000

,0,1,2,3,4,5
0,役員区分,報酬等の総額 （百万円）,報酬等の種類別の総額（百万円）,報酬等の種類別の総額（百万円）,報酬等の種類別の総額（百万円）,対象となる 役員の員数（人）
1,役員区分,報酬等の総額 （百万円）,固定報酬,業績連動 報酬,株式報酬,対象となる 役員の員数（人）
2,取締役(監査等委員及び社外取締役を除く。),254,163,39,52,6
3,取締役（監査等委員） (社外取締役を除く。),26,25,1,－,2
4,社外役員,59,59,－,－,5

##質問
最新の監査等委員会設置会社における役員区分ごとの業績連動報酬は？
question_valid15 1000000

,0,1,2,3,4,5
0,役員区分,報酬等の総額 （百万円）,報酬等の種類別の総額（百万円）,報酬等の種類別の総額（百万円）,報酬等の種類別の総額（百万円）,対象となる 役員の員数（人）
1,役員区分,報酬等の総額 （百万円）,固定報酬,業績連動 報酬,株式報酬,対象となる 役員の員数（人）
2,取締役(監査等委員及び社外取締役を除く。),254,163,39,52,6
3,取締役（監査等委員） (社外取締役を除く。),26,25,1,－,2
4,社外役員,59,59,－,－,5

##質問
最新の社外役員の役員区分ごとの業績連動報酬は？
question_valid16 －

            0          1                    2
0         NaN  銘柄数  （銘柄）  貸借対照表計上額の  合計額（百万円）
1       非上場株式         51                 1386
2  非上場株式以外の株式         13                 9367

##質問
最新時点における提出会社の保有目的が純投資以外の非上場株式の銘柄数は？
question_valid17 51

            0          1                    2
0         NaN  銘柄数  （銘柄）  貸借対照表計上額の  合計額（百万円）
1       非上場株式         51                 1386
2  非上場株式以外の株式         13                 9367

##質問
最新時点における提出会社の保有目的が純投資以外の非上場株式の貸借対照表計上額は？
question_valid18 1386000000

            0          1                         2
0         NaN  銘柄数  （銘柄）  株式数の減少に係る売却  価額の合計額（百万円）
1       非上場株式          4                       165
2  非上場株式以外の株式          3                       955

##質問
最新における提出会社の保有目的が純投資目的以外の投資株式の非上場株式以外の株式数が減少した銘柄数は？
question_valid19 3

                0                      1                      2
0             NaN                    NaN               (単位：百万円)
1             NaN  前連結会計年度  (2023年３月31日)  当連結会計年度  (2024年３月31日)
2            資産の部                    NaN                    NaN
3            流動資産                    NaN                    NaN
4          現金及び預金                 107228                 147760
5            受取手形                  17476             ※１  17,872
6             売掛金                 129188                 136169
7            契約資産                   8691                  10157
8          商品及び製品                  40332                  38587
9             仕掛品                  33487                  33062
10       原材料及び貯蔵品                  57173                  59878
11            その他                  25231                  24668
12          貸倒引当金                 △  378                 △  855
13         流動資産合計                 418427                 467297
14           固定資産                    NaN                    NaN
15         有形固定資産                    NaN                    NaN
16        建物及び構築物                 212907                 219321
17        減価償却累計額             △  129,978             △  137,227
18        減損損失累計額               △  5,960               △  6,037
19    建物及び構築物（純額）                  76970                  76058
20      機械装置及び運搬具                 329286                 348264
21        減価償却累計額             △  242,456             △  258,324
22        減損損失累計額              △  48,261              △  51,335
23  機械装置及び運搬具（純額）                  38569                  38605
24             土地             ※２  15,046             ※２  15,323
25          リース資産                  30823                  34528
26        減価償却累計額               △  9,439              △  13,394
27        減損損失累計額               △  1,706               △  1,616
28      リース資産（純額）                  19678                  19518
29          建設仮勘定                   8085                  11126
30            その他                  70485                  73161
31        減価償却累計額              △  62,612              △  64,741
32        減損損失累計額               △  3,064               △  3,354
33        その他（純額）                   4809                   5067
34       有形固定資産合計                 163156                 165696
35         無形固定資産                    NaN                    NaN
36            のれん                   6335                  10095
37            その他                   8756                  10317
38       無形固定資産合計                  15090                  20412
39       投資その他の資産                    NaN                    NaN
40         投資有価証券             ※３  30,372             ※３  35,207
41      退職給付に係る資産                    480                   1357
42         繰延税金資産                  11837                  16739
43            その他             ※３  17,547             ※３  17,294
44          貸倒引当金                 △  124                 △  135
45     投資その他の資産合計                  60111                  70461
46         固定資産合計                 238358                 256570
47           資産合計                 656785                 723867

##質問
前期の連結決算における有形固定資産のその他の減価償却累計額は？
question_valid20 -62612000000

                0                      1                      2
0             NaN                    NaN               (単位：百万円)
1             NaN  前連結会計年度  (2023年３月31日)  当連結会計年度  (2024年３月31日)
2            資産の部                    NaN                    NaN
3            流動資産                    NaN                    NaN
4          現金及び預金                 107228                 147760
5            受取手形                  17476             ※１  17,872
6             売掛金                 129188                 136169
7            契約資産                   8691                  10157
8          商品及び製品                  40332                  38587
9             仕掛品                  33487                  33062
10       原材料及び貯蔵品                  57173                  59878
11            その他                  25231                  24668
12          貸倒引当金                 △  378                 △  855
13         流動資産合計                 418427                 467297
14           固定資産                    NaN                    NaN
15         有形固定資産                    NaN                    NaN
16        建物及び構築物                 212907                 219321
17        減価償却累計額             △  129,978             △  137,227
18        減損損失累計額               △  5,960               △  6,037
19    建物及び構築物（純額）                  76970                  76058
20      機械装置及び運搬具                 329286                 348264
21        減価償却累計額             △  242,456             △  258,324
22        減損損失累計額              △  48,261              △  51,335
23  機械装置及び運搬具（純額）                  38569                  38605
24             土地             ※２  15,046             ※２  15,323
25          リース資産                  30823                  34528
26        減価償却累計額               △  9,439              △  13,394
27        減損損失累計額               △  1,706               △  1,616
28      リース資産（純額）                  19678                  19518
29          建設仮勘定                   8085                  11126
30            その他                  70485                  73161
31        減価償却累計額              △  62,612              △  64,741
32        減損損失累計額               △  3,064               △  3,354
33        その他（純額）                   4809                   5067
34       有形固定資産合計                 163156                 165696
35         無形固定資産                    NaN                    NaN
36            のれん                   6335                  10095
37            その他                   8756                  10317
38       無形固定資産合計                  15090                  20412
39       投資その他の資産                    NaN                    NaN
40         投資有価証券             ※３  30,372             ※３  35,207
41      退職給付に係る資産                    480                   1357
42         繰延税金資産                  11837                  16739
43            その他             ※３  17,547             ※３  17,294
44          貸倒引当金                 △  124                 △  135
45     投資その他の資産合計                  60111                  70461
46         固定資産合計                 238358                 256570
47           資産合計                 656785                 723867

##質問
最新時点の連結決算における有形固定資産の減価償却累計額は?
question_valid21 -64741000000

                0                      1                      2
0             NaN                    NaN               (単位：百万円)
1             NaN  前連結会計年度  (2023年３月31日)  当連結会計年度  (2024年３月31日)
2            負債の部                    NaN                    NaN
3            流動負債                    NaN                    NaN
4       支払手形及び買掛金                  74650             ※１  78,019
5           短期借入金                  41376                  49558
6      １年内償還予定の社債                  10000                  10000
7          未払法人税等                   4736                   5355
8            契約負債                   3242                   4416
9     関係会社事業損失引当金                   2128                    702
10        その他の引当金                   1142                   2080
11            その他                  44745                  50152
12         流動負債合計                 182019                 200283
13           固定負債                    NaN                    NaN
14             社債                  20000                  10000
15          長期借入金                 121531                 108008
16        その他の引当金                    226                    330
17          リース債務                  15493                  14635
18      退職給付に係る負債                  11941                  10661
19            その他             ※２  11,190             ※２  13,368
20         固定負債合計                 180382                 157003
21           負債合計                 362401                 357285
22          純資産の部                    NaN                    NaN
23           株主資本                    NaN                    NaN
24            資本金                  53076                  53076
25          資本剰余金                  26514                  26110
26          利益剰余金                 161721                 201814
27           自己株式              △  10,470              △  10,472
28         株主資本合計                 230842                 270528
29    その他の包括利益累計額                    NaN                    NaN
30   その他有価証券評価差額金                   2075                   4844
31        繰延ヘッジ損益                     38                    203
32       為替換算調整勘定                  39277                  63879
33   退職給付に係る調整累計額               △  1,694                   1638
34  その他の包括利益累計額合計                  39695                  70563
35        非支配株主持分                  23847                  25490
36          純資産合計                 294384                 366582
37        負債純資産合計                 656785                 723867

##質問
前期の連結決算における非支配株主持分は？
question_valid24 23847000000

                0                      1                      2
0             NaN                    NaN               (単位：百万円)
1             NaN  前連結会計年度  (2023年３月31日)  当連結会計年度  (2024年３月31日)
2            負債の部                    NaN                    NaN
3            流動負債                    NaN                    NaN
4       支払手形及び買掛金                  74650             ※１  78,019
5           短期借入金                  41376                  49558
6      １年内償還予定の社債                  10000                  10000
7          未払法人税等                   4736                   5355
8            契約負債                   3242                   4416
9     関係会社事業損失引当金                   2128                    702
10        その他の引当金                   1142                   2080
11            その他                  44745                  50152
12         流動負債合計                 182019                 200283
13           固定負債                    NaN                    NaN
14             社債                  20000                  10000
15          長期借入金                 121531                 108008
16        その他の引当金                    226                    330
17          リース債務                  15493                  14635
18      退職給付に係る負債                  11941                  10661
19            その他             ※２  11,190             ※２  13,368
20         固定負債合計                 180382                 157003
21           負債合計                 362401                 357285
22          純資産の部                    NaN                    NaN
23           株主資本                    NaN                    NaN
24            資本金                  53076                  53076
25          資本剰余金                  26514                  26110
26          利益剰余金                 161721                 201814
27           自己株式              △  10,470              △  10,472
28         株主資本合計                 230842                 270528
29    その他の包括利益累計額                    NaN                    NaN
30   その他有価証券評価差額金                   2075                   4844
31        繰延ヘッジ損益                     38                    203
32       為替換算調整勘定                  39277                  63879
33   退職給付に係る調整累計額               △  1,694                   1638
34  その他の包括利益累計額合計                  39695                  70563
35        非支配株主持分                  23847                  25490
36          純資産合計                 294384                 366582
37        負債純資産合計                 656785                 723867

##質問
最新時点の連結決算における非支配株主持分は？
question_valid25 25490000000

,0,1,2
0,NaN,NaN,(単位：百万円)
1,NaN,前連結会計年度 (自 2022年４月１日 至 2023年３月31日),当連結会計年度 (自 2023年４月１日 至 2024年３月31日)
2,売上高,"※１ 806,453","※１ 799,760"
3,売上原価,"※３ , ※４ 635,434","※３ , ※４ 629,053"
4,売上総利益,171019,170707
5,販売費及び一般管理費,NaN,NaN
6,荷造運搬費,23416,19489
7,人件費,"※２ 42,858","※２ 45,044"
8,その他,"※３ 34,582","※３ 36,690"
9,販売費及び一般管理費合計,100856,101223
10,営業利益,70163,69483
11,営業外収益,NaN,NaN
12,受取利息,676,765
13,受取配当金,749,662
14,持分法による投資利益,2055,2662
15,為替差益,－,3213
16,その他,1313,1022
17,営業外収益合計,4793,8324
18,営業外費用,NaN,NaN
19,支払利息,3056,3821
20,為替差損,264,－
21,その他,3738,4253
22,営業外費用合計,7058,8074
23,経常利益,67897,69733
24,特別利益,NaN,NaN
25,投資有価証券売却益,351,668
26,関係会社株式売却益,4218,－
27,その他,236,9
28,特別利益合計,4805,677
29,特別損失,NaN,NaN
30,減損損失,"※５ 19,289","※５ 3,317"
31,事業構造改善費用,"※６ 1,040","※６ 2,288"
32,子会社清算損,"※７ 1,247",－
33,その他,383,591
34,特別損失合計,21960,6196
35,税金等調整前当期純利益,50742,64215
36,法人税、住民税及び事業税,12408,14495
37,法人税等調整額,"△ 4,235","△ 3,392"
38,法人税等合計,8174,11103
39,当期純利益,42568,53112
40,非支配株主に帰属する当期純利益,1678,2100
41,親会社株主に帰属する当期純利益,40891,51011

##質問
前期の連結決算における営業利益は？
question_valid26 70163000000

,0,1,2
0,NaN,NaN,(単位：百万円)
1,NaN,前連結会計年度 (自 2022年４月１日 至 2023年３月31日),当連結会計年度 (自 2023年４月１日 至 2024年３月31日)
2,売上高,"※１ 806,453","※１ 799,760"
3,売上原価,"※３ , ※４ 635,434","※３ , ※４ 629,053"
4,売上総利益,171019,170707
5,販売費及び一般管理費,NaN,NaN
6,荷造運搬費,23416,19489
7,人件費,"※２ 42,858","※２ 45,044"
8,その他,"※３ 34,582","※３ 36,690"
9,販売費及び一般管理費合計,100856,101223
10,営業利益,70163,69483
11,営業外収益,NaN,NaN
12,受取利息,676,765
13,受取配当金,749,662
14,持分法による投資利益,2055,2662
15,為替差益,－,3213
16,その他,1313,1022
17,営業外収益合計,4793,8324
18,営業外費用,NaN,NaN
19,支払利息,3056,3821
20,為替差損,264,－
21,その他,3738,4253
22,営業外費用合計,7058,8074
23,経常利益,67897,69733
24,特別利益,NaN,NaN
25,投資有価証券売却益,351,668
26,関係会社株式売却益,4218,－
27,その他,236,9
28,特別利益合計,4805,677
29,特別損失,NaN,NaN
30,減損損失,"※５ 19,289","※５ 3,317"
31,事業構造改善費用,"※６ 1,040","※６ 2,288"
32,子会社清算損,"※７ 1,247",－
33,その他,383,591
34,特別損失合計,21960,6196
35,税金等調整前当期純利益,50742,64215
36,法人税、住民税及び事業税,12408,14495
37,法人税等調整額,"△ 4,235","△ 3,392"
38,法人税等合計,8174,11103
39,当期純利益,42568,53112
40,非支配株主に帰属する当期純利益,1678,2100
41,親会社株主に帰属する当期純利益,40891,51011

最新の連結決算における特別損失の子会社清算損は何ですか？
question_valid30 －

                        0      1         2         3          4         5
0                     NaN    NaN       NaN       NaN   (単位：百万円)  (単位：百万円)
1                     NaN   株主資本      株主資本      株主資本       株主資本      株主資本
2                     NaN    資本金     資本剰余金     利益剰余金       自己株式    株主資本合計
3                   当期首残高  53076     28054    126530  △  10,575    197085
4                   当期変動額    NaN       NaN       NaN        NaN       NaN
5                  剰余金の配当    NaN       NaN  △  6,357        NaN  △  6,357
6         親会社株主に帰属する当期純利益    NaN       NaN     40891        NaN     40891
7                 自己株式の取得    NaN       NaN       NaN       △  2      △  2
8                 自己株式の処分    NaN       NaN       NaN        108       108
9    非支配株主との取引に係る親会社の持分変動    NaN  △  1,548       NaN        NaN  △  1,548
10     連結子会社株式の取得による持分の増減    NaN       854       NaN        NaN       854
11                連結範囲の変動    NaN    △  846       658        NaN    △  189
12  株主資本以外の項目の  当期変動額（純額）    NaN       NaN       NaN        NaN         －
13                当期変動額合計      －  △  1,540     35191        106     33757
14                  当期末残高  53076     26514    161721  △  10,470    230842

##質問
前期の連結決算の資本剰余金の連結範囲の変動は？
question_valid32 -846000000

In [292]:
gold_sd = dict(data.query('flag =="valid"')[['question_number', 'value']].values)

In [293]:
total = 0
correct = 0

for key in answer_sheet.keys():
    total += 1
    try:
        if float(gold_sd[key]) == float(answer_sheet[key]):
            correct += 1
        else:
            print(f'{key}, TRUE:{gold_sd[key]}, PRED:{answer_sheet[key]}')
            pass
    except:
        if unicodedata.normalize('NFKC',gold_sd[key]) == unicodedata.normalize('NFKC',answer_sheet[key]):
            correct += 1
        else:
            print(f'{key}, TRUE:{gold_sd[key]}, PRED:{answer_sheet[key]}')
            pass
        
print(correct/total)

question_valid10, TRUE:－, PRED:295863421
question_valid14, TRUE:190000000, PRED:1000000
question_valid15, TRUE:1000000, PRED:-
question_valid21, TRUE:-64741000000, PRED:-258324000000
question_valid32, TRUE:-846000000, PRED:nan000000
0.75

In [77]:
data.query('flag == "train" and words == @words')

,question_number,question,doc_id,table_id,cell_id,value,flag,ja_question,tmp_question,words
0,question_train3,株式会社アインホールディングスの2021年における「１株当たり当期純利益又は当期純損失（△）...,S100RHMW,S100RHMW-0101010-tab2,S100RHMW-0101010-tab2-r10c5,189.04,train,株式会社アインホールディングスの2021年における経営指標等の1株当たり当期純利益又は当期純...,2021年における経営指標等の自己資本利益率は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
1,question_train4,株式会社アインホールディングスの2023年における「１株当たり当期純利益又は当期純損失（△）...,S100RHMW,S100RHMW-0101010-tab2,S100RHMW-0101010-tab2-r10c7,262.87,train,株式会社アインホールディングスの2023年における経営指標等の1株当たり当期純利益又は当期純...,2023年における経営指標等の自己資本利益率は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
142,question_train285,レーザーテック株式会社の2023年における「１株当たり当期純利益又は当期純損失（△）、経営指...,S100RWZQ,S100RWZQ-0101010-tab2,S100RWZQ-0101010-tab2-r10c7,511.89,train,レーザーテック株式会社の2023年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2023年における提出会社の保有目的が純投資目的以外の目的である投資株式の非上場株式以外の株...,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
802,question_train1606,キヤノンマーケティングジャパン株式会社の2021年における「１株当たり当期純利益又は当期純損...,S100T53R,S100T53R-0101010-tab2,S100T53R-0101010-tab2-r10c5,226.88,train,キヤノンマーケティングジャパン株式会社の2021年における経営指標等の1株当たり当期純利益又...,2024年の連結決算における税引前当期純利益又は税引前当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
980,question_train1958,株式会社シマノの2021年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100T5J9,S100T5J9-0101010-tab2,S100T5J9-0101010-tab2-r10c5,1252.62,train,株式会社シマノの2021年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2024年時点の普通株式における株式の総数等の発行済株式の種類は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
981,question_train1959,株式会社シマノの2023年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100T5J9,S100T5J9-0101010-tab2,S100T5J9-0101010-tab2-r10c7,676.77,train,株式会社シマノの2023年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2024年における監査公認会計士等の監査証明業務に基づく報酬-連結子会社は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
1041,question_train2082,株式会社パイロットコーポレーションの2021年における「１株当たり当期純利益又は当期純損失（...,S100T4Z1,S100T4Z1-0101010-tab2,S100T4Z1-0101010-tab2-r10c5,361.81,train,株式会社パイロットコーポレーションの2021年における経営指標等の1株当たり当期純利益又は当...,2024年の連結決算におけるその他の包括利益のその他有価証券評価差額金(税引後)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
1835,question_train3666,株式会社三井ハイテックの2022年における「１株当たり当期純利益又は当期純損失（△）、経営指...,S100TAPP,S100TAPP-0101010-tab2,S100TAPP-0101010-tab2-r10c5,322.24,train,株式会社三井ハイテックの2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2024年の個別決算の非連結又は個別における法人税等は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
1836,question_train3667,株式会社三井ハイテックの2024年における「１株当たり当期純利益又は当期純損失（△）、経営指...,S100TAPP,S100TAPP-0101010-tab2,S100TAPP-0101010-tab2-r10c7,425.30,train,株式会社三井ハイテックの2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2024年時点における表紙の提出先は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
2087,question_train4172,株式会社エービーシー・マートの2024年における「１株当たり当期純利益又は当期純損失（△）、...,S100TIG3,S100TIG3-0101010-tab2,S100TIG3-0101010-tab2-r10c7,161.58,train,株式会社エービーシー・マートの2024年における経営指標等の1株当たり当期純利益又は当期純損...,2023年のその他の資本の構成要素における当期利益(△損失)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
2367,question_train4727,株式会社九州フィナンシャルグループの2022年における「１株当たり当期純利益又は当期純損失（...,S100TMNK,S100TMNK-0101010-tab2,S100TMNK-0101010-tab2-r11c5,38.06,train,株式会社九州フィナンシャルグループの2022年における経営指標等の1株当たり当期純利益又は当...,2024年時点のFujisoWakaMemberにおける役員の状況(取締役(及び監査役))の...,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
2486,question_train4968,株式会社コンコルディア・フィナンシャルグループの2024年における「１株当たり当期純利益又は...,S100TNGG,S100TNGG-0101010-tab2,S100TNGG-0101010-tab2-r11c7,57.16,train,株式会社コンコルディア・フィナンシャルグループの2024年における経営指標等の1株当たり当期...,素株式会社の2023年時点の個別決算の非連結又は個別における流動資産は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
4493,question_train8982,株式会社ほくほくフィナンシャルグループの2022年における「１株当たり当期純利益又は当期純損...,S100TQJP,S100TQJP-0101010-tab2,S100TQJP-0101010-tab2-r11c5,147.47,train,株式会社ほくほくフィナンシャルグループの2022年における経営指標等の1株当たり当期純利益又...,2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
5672,question_train11343,株式会社三越伊勢丹ホールディングスの2022年における「１株当たり当期純利益又は当期純損失（...,S100TT4U,S100TT4U-0101010-tab2,S100TT4U-0101010-tab2-r10c5,32.36,train,株式会社三越伊勢丹ホールディングスの2022年における経営指標等の1株当たり当期純利益又は当...,2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
5673,question_train11344,株式会社三越伊勢丹ホールディングスの2024年における「１株当たり当期純利益又は当期純損失（...,S100TT4U,S100TT4U-0101010-tab2,S100TT4U-0101010-tab2-r10c7,145.79,train,株式会社三越伊勢丹ホールディングスの2024年における経営指標等の1株当たり当期純利益又は当...,2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
6633,question_train13261,九州電力株式会社の2022年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100TTZH,S100TTZH-0101010-tab2,S100TTZH-0101010-tab2-r10c5,10.09,train,九州電力株式会社の2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
6634,question_train13262,九州電力株式会社の2024年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100TTZH,S100TTZH-0101010-tab2,S100TTZH-0101010-tab2-r10c7,342.30,train,九州電力株式会社の2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
7108,question_train14216,コムシスホールディングス株式会社の2022年における「１株当たり当期純利益又は当期純損失（△...,S100TUQG,S100TUQG-0101010-tab2,S100TUQG-0101010-tab2-r10c5,235.50,train,コムシスホールディングス株式会社の2022年における経営指標等の1株当たり当期純利益又は当期...,2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
7669,question_train15350,株式会社カネカの2022年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100TV9M,S100TV9M-0101010-tab2,S100TV9M-0101010-tab2-r10c5,406.01,train,株式会社カネカの2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
7670,question_train15351,株式会社カネカの2024年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100TV9M,S100TV9M-0101010-tab2,S100TV9M-0101010-tab2-r10c7,357.90,train,株式会社カネカの2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
7749,question_train15501,株式会社ケーズホールディングスの2022年における「１株当たり当期純利益又は当期純損失（△）...,S100TTOT,S100TTOT-0101010-tab2,S100TTOT-0101010-tab2-r10c5,141.70,train,株式会社ケーズホールディングスの2022年における経営指標等の1株当たり当期純利益又は当期純...,2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
7809,question_train15618,中国電力株式会社の2024年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100TVNH,S100TVNH-0101010-tab2,S100TVNH-0101010-tab2-r10c7,370.59,train,中国電力株式会社の2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
7884,question_train15775,森永乳業株式会社の2022年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100TPOT,S100TPOT-0101010-tab2,S100TPOT-0101010-tab2-r10c5,343.73,train,森永乳業株式会社の2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
7885,question_train15776,森永乳業株式会社の2024年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100TPOT,S100TPOT-0101010-tab2,S100TPOT-0101010-tab2-r10c7,696.92,train,森永乳業株式会社の2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
7976,question_train15955,株式会社ＦＵＪＩの2022年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100TXFJ,S100TXFJ-0101010-tab2,S100TXFJ-0101010-tab2-r10c5,219.70,train,株式会社FUJIの2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2022年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
7977,question_train15956,株式会社ＦＵＪＩの2024年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100TXFJ,S100TXFJ-0101010-tab2,S100TXFJ-0101010-tab2-r10c7,110.59,train,株式会社FUJIの2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']
8004,question_train16009,日産自動車株式会社の2024年における「１株当たり当期純利益又は当期純損失（△）、経営指標等」は？,S100TXFX,S100TXFX-0101010-tab2,S100TXFX-0101010-tab2-r10c7,110.47,train,日産自動車株式会社の2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,2024年における経営指標等の1株当たり当期純利益又は当期純損失(△)は?,['１株当たり当期純利益又は当期純損失（△）、経営指標等']